body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #61cced;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-para
{
    display:flex;
}

.home-Pic
{
    margin-right: 1.25em;
}

.rightEditableBox
{
    float: right;
    border: 2.5px solid black;
}

.mainIntro
{
    display:flex;
}

.rightEditableBox
{
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.home-Pic
{
}

.main-para
{
}

.body-content {
    background-color: #61cced;
}

.mainHeader
{
    position:relative;
    text-align:center;
    color: green;
}

.headerText
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 50%;
}

footer
{
    position: relative;
    height: 30px;
    margin-top: -100px;
    clear:both;
}

