body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #61cced;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-para
{
    display:flex;
}

.home-Pic
{
    margin-right: 1.25em;
}

.rightEditableBox
{
    float: right;
    border: 2.5px solid black;
}

.mainIntro
{
    position: relative;
    margin-top: 120px;
    display:flex;
}

.rightEditableBox
{
    padding: 10px;
    margin-left: 40px;
    margin-top: 30px;
    background-color: white;
}

.home-Pic
{
}

.main-para
{
    margin-top:25px;
    font-size: 1.25em;
}

.body-content {
    background-color: #61cced;
}

.mainHeader {
    position: relative;
    text-align: center;
    color: #bd6619;
}

.headerText
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60px;
    left: 50%;
    font-size: 50%;
}

.footer
{
    position: absolute;
    bottom: 5px;
    width: 95%;
    margin-left: 2.5%;
}

