@{
    ViewBag.Title = "Home Page";
}
<div class="mainHeader" align="center">
    <!--<img src="~/Content/FamilyPic.jpeg" class="home-Pic" /> Going to change pic and move to left of intro -->
    <div class="headerText">
        <h1><b>Healing Hands Massage</b></h1>

        <h3><b>A massage with a touch of healing for body, mind and soul</b></h3>
    </div>
</div>



<div class="mainIntro">
    <div class="main-para">
        <p>
            I am an occupational therapist that specilizes in all sorts of massages. These include sports injury, deep tissue, pre/post natal, craniosacral, relaxation, symphatic drainage, and detox. Most massages come with stretching of the muscles as well.

        </p>
    </div>


    <div class="rightEditableBox">
        <form>
        <b>Stretches</b>
        <p class="editText" id="editText">
            Will fill with stretching pics and information Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales venenatis justo, sit amet rutrum dolor pellentesque quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam semper ultrices ipsum sed condimentum. Proin aliquam, neque et fringilla ornare, metus dolor varius mauris, vitae porta enim metus quis est. Etiam vestibulum turpis blandit dui vehicula, sed malesuada massa vehicula. Vestibulum vestibulum, massa vitae condimentum vulputate, ipsum mi congue urna, convallis egestas arcu justo non mi. Mauris convallis felis ac augue malesuada aliquet. Nullam a est convallis, dictum augue quis, eleifend erat. Suspendisse ultricies elit in justo rutrum, id euismod leo hendrerit. Aliquam erat volutpat.

            Nam ligula quam, consequat in rhoncus in, tempus dictum dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean ac diam hendrerit, lacinia arcu eget, varius augue. Etiam eget metus sodales metus consectetur aliquam eu sed sapien. Vivamus ac luctus ex. Vivamus in lorem tempor, sagittis nunc eget, consectetur turpis. Integer ultrices lectus accumsan diam molestie, in lacinia nunc venenatis. Vestibulum eu sem vel dolor volutpat volutpat eget a orci. Nunc a sodales mi. Nam sollicitudin efficitur nulla. Duis non blandit ante. Vestibulum vel dui nisl.

            Sed ultrices augue vitae mollis sagittis. Sed nec ex nec est feugiat scelerisque. Nam vitae suscipit velit. Curabitur venenatis dui sed dolor posuere, et maximus augue condimentum. Duis semper vestibulum ex, sed molestie felis congue eget. Cras placerat convallis mi, in tempus lorem vestibulum ac. Quisque quis nibh porttitor, imperdiet neque ut, volutpat dolor. Curabitur blandit nisl ac dolor tempor malesuada tincidunt a est. Fusce sed ex a libero feugiat ultricies ut et tortor. Etiam ac feugiat quam. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>

        <!--
            Server side command for when admin is set up
            if user == admin 
            
            Need to decide how I want to do this -->
            <input  type="button" value="Edit" onclick="OpenEditor()"/>
            <input type="button" formmethod="post" value="Finish" onclick="FinishUp()"/>
            </form>
    </div>

    <script>

        //Creates quill container with readonly option true
        var editor = new Quill('.editText', { readOnly: true });
        var Module = Quill.import('core/module');

        editor.on('text-change', function (delta, source) { console.log('text-change', delta, source) });

        function OpenEditor()
        {
            editor.enable(true);
            return;
        }

        function FinishUp()
        {
            Quill.register('modules/custom-module', CustomModule);
            editor.disable();
            return;
        }

        
        console.log(text);

    </script>
</div>