@{
    ViewBag.Title = "Home Page";
}
<div align="center">
<h1><b>Healing Hands Massage</b></h1>
<h3><b>A massage with a touch of healing for body, mind and soul</b></h3>
</div>

<img src="~/Content/massage.jpg" class="home-Pic" style="float: left;"/>
<p class="main-para">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut gravida, nibh in commodo accumsan, massa orci tincidunt ligula, a semper massa velit ac tellus. Mauris fringilla commodo ligula in tempor. Curabitur id fermentum metus. Sed augue risus, malesuada at arcu ut, volutpat mattis odio. Vestibulum ac maximus lacus. Sed vel vehicula sem. In tellus sem, vestibulum eu dui id, dignissim lobortis lectus. Suspendisse vel diam quam. Ut ligula lectus, mattis id hendrerit et, lacinia non nulla. In vel est luctus, rhoncus magna nec, fringilla lectus. Vivamus rutrum pretium mauris, et tincidunt arcu mollis ut. Vestibulum lectus justo, dictum non leo sed, feugiat pretium justo. Pellentesque nec condimentum ipsum. Duis quis sapien eu sapien aliquet tincidunt a ac metus. Ut semper fermentum leo, nec dignissim orci auctor a.

    Sed porttitor enim ut mi feugiat elementum. Nullam sollicitudin id sem ut rutrum. Sed ut neque vel odio tincidunt facilisis et vel massa. Maecenas bibendum ipsum eu arcu accumsan, in faucibus elit volutpat. Ut cursus erat ac quam eleifend, ac rhoncus massa scelerisque. Suspendisse nulla arcu, gravida sit amet augue quis, scelerisque vulputate massa. Fusce sit amet justo non dolor tincidunt fermentum vel et magna. Aliquam sit amet magna enim.

    Nam tempor ligula non iaculis efficitur. Duis quis blandit arcu. Nam vestibulum ut erat placerat tempor. Cras rutrum dapibus efficitur. Fusce ligula leo, placerat ac consequat quis, consequat quis turpis. Nam congue leo sit amet eros cursus rutrum. Donec eu porta libero. In eleifend leo vitae ante auctor, nec rhoncus diam hendrerit. Nam pulvinar porttitor erat. Vivamus commodo, libero in molestie ullamcorper, nunc augue euismod sem, tincidunt volutpat leo orci id erat. Mauris dictum ex et nibh rhoncus sollicitudin. Fusce mollis erat a libero luctus ornare.

    Curabitur risus quam, feugiat nec rhoncus vel, tincidunt sit amet orci. Fusce molestie enim sed posuere sollicitudin. Etiam ullamcorper orci arcu, ut convallis turpis ullamcorper sed. Nam ornare sapien eget diam porta pretium. Quisque ultricies eu est eu porttitor. Nam tellus ligula, iaculis ut mi eu, aliquam viverra erat. Sed vel luctus felis, ut ullamcorper mi.

    Etiam elementum nulla nisl, at cursus ligula mollis quis. Curabitur a mi commodo, ultrices felis ut, ultricies libero. Ut posuere eu justo nec tempus. Pellentesque fringilla enim at cursus ultrices. Pellentesque porttitor magna in sem condimentum placerat. Suspendisse ut nisl eu libero rutrum facilisis. Ut non dapibus mauris, non sollicitudin lectus. Nam sagittis nunc eu magna ornare faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum et elementum augue, sit amet scelerisque risus. Pellentesque nec odio et quam pretium faucibus. Vivamus convallis tempus vehicula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ultrices, eros vel porta faucibus, nunc eros congue urna, nec varius massa lorem ornare lorem. Integer semper lacus ante, ac posuere metus fringilla vitae.
</p>