@{
    ViewBag.Title = "Massages";
}

<h2>Massages Offered</h2>

<ul>
    <li>Sports Injury</li>

    <br />

    <li>Deep Tissue</li>

    <br />

    <li>Pre/Post Natal</li>

    <br />

    <li>Craniosacral</li>

    <br />

    <li>Symphatic Drainage</li>

    <br />

    <li>Detox</li>


</ul>