@{
    ViewBag.Title = "Massages";
}

<h2>Massages Offered</h2>


<div class="specials">
     <h4>Specials!</h4>

    <p>Deep Tissue</p>
    <b>Cost: $X - $X</b>
</div>

<br />
<div>
<ul class="massageList" >
    <li>Sports Injury</li>
    

    <br />

    <li>Deep Tissue</li>

    <br />

    <li>Pre/Post Natal</li>

    <br />

    <li>Craniosacral</li>

    <br />

    <li>Symphatic Drainage</li>

    <br />

    <li>Detox</li>


</ul>
</div>